@mixin font-face($font-family, $font-weight, $font-style, $font-src) {
  @font-face {
    font-family: $font-family;
    font-weight: $font-weight;
    font-style: $font-style;
    font-display: swap;
    src: $font-src;
  }
}

@mixin flex($dir:row, $align:center, $justify:space-between) {
  display: flex;
  flex-direction: $dir;
  align-items: $align;
  justify-content: $justify;
}

@mixin pseudo($width, $height) {
  content: "";
  display: block;
  position: absolute;
  width: $width;
  height: $height;
}
